body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

header {
    background-color: #b4e658;
    color: white;
    padding: 0 10%;
}

header > h1 {
    display: inline-block;
    margin-left: 30px;
}

#logo {
    width: 60px;
}

nav {
    margin: 10px 10%;
}

nav > a {
    padding: 0 10px;
}

#pokedex {
    width: 750px;
    margin: 50px auto;
}

#foto {
    width: 120px;
}

#izquierda {
    width: 250px;
    height: 300px;
    float: left;
    background-color: #b4e658;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

#derecha {
    width: 250px;
    height: 250px;
    margin-top: 50px;
    background-color: #b4e658;
    border-left-color: ##113d1d;
    border-left-style: solid;
    border-left-width: 3px;
    float: left;
    border-bottom-right-radius: 30px;
}

.pantalla {
    border-color: #494949;
    border-style: solid;
    border-radius: 15px;
    border-width: 5px;
}

#izquierda > .pantalla {
    width: 180px;
    height: 150px;
    margin-left: 35px;
    margin-top: 40px;
    background-color: white;
}

#control {
    width: 60px;
    height: 60px;
    margin-top: 15px;
    margin-left: 20px;
    display: inline-block;
}

#c_arriba, #c_abajo {
    width: 20px;
    height: 20px;
    margin-left: 20px;
    background-color: #222222;
}

#c_horizontal {
    width: 60px;
    height: 20px;
    background-color: #222222;
}

#btn-circulo {
    width: 50px;
    height: 50px;
    margin-left: 95px;
    border-style: solid;
    border-color: #457733;
    border-radius: 25px;
    background-color: #113d1d;
    display: inline-block;
}

#izquierda > .pantalla > img {
    margin-left: 15px;
    height: 100%;
}

#derecha > .pantalla {
    width: 180px;
    height: 120px;
    margin-left: 35px;
    margin-top: 20px;
    background-color: green;
    font-size: 12px;
}

#botones {
    width: 148px;
    height: 65px;
    margin-left: 60px;
    margin-top: 15px;    
}

#botones > .boton {
    width: 25px;
    height: 25px;
    background-color: #457733;
    display: inline-block;
    border-style: solid;
    border-color: #113d1d;
    border-width: 2px;
    border-radius: 3px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

li > p {
    margin: 0 5px;
}

